.friendsList{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    background:pink;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.friendItem{
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
}
.imgllock{
    width: 170px;
    height: 170px;
}

.imgFriend {
    height: 150px;
    width: 150px;
    border-radius:5%;
}
.textblok{
    width: 250px;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.textItem{
    font-family:Georgia;
    color: darkblue;
    font-size: 25px;

}
.searchFriends{
    width: 100%;
    height: 60px;
    display:inline-flex;
    flex-wrap:nowrap;
    background:palegreen;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.btnSearch{
    width: 200px;
    height: 35px;
    font-family:Georgia;
    background-image: linear-gradient(#619ecb, #3f0946);
    font-size: 20px;
    color: white;
}
.textSearch{
    height: 35px;
    width: 200px;
    background-color: white;
    font-size: 20px;
    border-radius: 4px ;
}
.selectSearch{
    height: 35px;
    width: 200px;
    background-color: white;
    font-size: 20px;
    border-radius: 4px ;
}
.btnDelete{
    width: 100px;
    height: 30px;
    font-family:Georgia;
    background-image: linear-gradient(#619ecb, #3f0946);
    font-size: 20px;
    color: white;
}