.wrapper {
    width: 100%;
    flex-wrap:nowrap;
    background:darkslategrey;
    display:inline-flex;
    justify-content: space-around;
    Align-items:center;
}
body {
    background:white;
}
.btnhead{
    font-family:Georgia;
    color: white;
    font-size: 25px;
    background:deepskyblue;
    border-radius: 4px ;
}
.column{
    display: flex;
    flex-direction: column;
    background: green;
}
.signIn{
    width: 100%;
    height: 40%;
    background:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.labelLogin{
    font-family:Georgia;
    color: black;
    font-size: 25px;
}
.textLogin{
    height: 45px;
    width: 350px;
    background-color: white;
    font-size: 20px;
    border-radius: 4px ;
}
.img{
    height: 250px;
    width: 250px;
    border-radius: 100% ;
}
.fgItem{
    display: flex;
    width: 350px;
    height: 350px;
    flex-direction:column;
    align-items: center;
}
.fg{
    width: 100%;
    background:white;
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    flex-wrap:wrap;
}
.fgText{
    font-family:Georgia;
    color: blue;
    font-size: 25px;
}
.imghead{
    width: 100%;
}