.reg{
    width: 100%;
    display: flex;
    font-family:Georgia;
    color: blue;
    font-size: 40px;
    align-content: center;
    justify-content: center;
}
.signUp{
    width: 70%;
    height: auto;
    background:white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-end;
    flex-wrap: nowrap;
    align-content: space-around;
}
.registr-item{
    height: 55px;
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
}
.labelReg{
    font-family:Georgia;
    color: black;
    font-size: 25px;
}
.textReg{
    height: 40px;
    width: 600px;
    background-color: white;
    font-size: 25px;
    border-radius: 6px ;
}
.selectText{
    height: 40px;
    width: 600px;
    background-color: white;
    font-size: 25px;
    border-radius: 6px ;
}